html,body{
    box-sizing: border-box;
    background: #ebf5fc;
}

div.outer{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
} 
button{
    font-size: 25px;
    height: 70px;
    width: 250px;
    outline: none;
    margin: 13px 30px;
    border: none;
    color: #6a9bd8;
    background: #ebf5fc;
    border-radius: 50px;
    box-shadow: -6px -6px 10px rgba(2555, 255,255,.8),
    6px 6px 10px rgba(0,0,0,.125);
}
span{
    color: #6a9bd8;
    font-size: 28px;
    
}

button:focus{
     box-shadow: inset -4px -4px 8px rgba(255, 255,255 ,.4),
    inset 4px 4px 10px rgba(0, 0,0 ,.1);
}






















